name: Release

on:
    push:
        branches: [ main ]

concurrency:
    group: ${{ github.workflow }}-${{ github.ref }}
    cancel-in-progress: true

jobs:
    code-check:
        name: Code check
        runs-on: ubuntu-latest
        permissions:
            contents: 'read'
            id-token: 'write'
        steps:
            -   name: Checkout
                uses: actions/checkout@v4

            -   name: Setup Node
                uses: actions/setup-node@v4
                with:
                    node-version: 'lts/*'
                    cache: 'yarn'

            -   name: Install dependencies
                run: yarn install --immutable

            -   name: Lint
                run: yarn lint

            -   name: Type check
                run: yarn typecheck
    test:
        name: Test
        runs-on: ubuntu-latest
        permissions:
            contents: 'read'
            id-token: 'write'
        steps:
            -   name: Checkout
                uses: actions/checkout@v4

            -   name: Setup Node
                uses: actions/setup-node@v4
                with:
                    node-version: 'lts/*'
                    cache: 'yarn'

            -   name: Install dependencies
                run: yarn install --immutable

            -   name: Test
                run: yarn test

    release:
        name: Release
        runs-on: ubuntu-latest
        if: ${{ github.event_name == 'push' }}
        needs: [ code-check,test ]
        permissions:
            contents: 'write'
            id-token: 'write'
            issues: 'write'
            pull-requests: 'write'
        steps:
            -   name: Checkout
                uses: actions/checkout@v4

            -   name: Setup Node
                uses: actions/setup-node@v4
                with:
                    node-version: 'lts/*'
                    cache: 'yarn'

            -   name: Configure Git User
                run: |
                    git config --global user.email "development@mariomh.com"
                    git config --global user.name "$GITHUB_ACTOR"

            -   name: Install dependencies
                run: yarn install

            -   name: Build
                run: yarn build

            -   name: Create Release Pull Request or Publish to npm
                uses: changesets/action@v1
                with:
                    publish: yarn publish
                    version: yarn version
                    commit: 'chore: release'
                    title: 'Release'
                    setupGitUser: false
                env:
                    YARN_ENABLE_IMMUTABLE_INSTALLS: false
                    GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
                    NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
